@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");

:root {
    --primary-color: #E85832;
    --black: #292A2B;
    --black-primary: #1e1e1e;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    /* margin: 0 20px; */
}

nav{
    /* border: 1px black solid; */
    padding:38px 20px 0 20px;
    display: inline-block;
    width: 100%;
}

.nav-brand{
    font-size: 25px;
    font-weight: 500;
    /* border: 1px red solid; */
    display: inline-block;
    color: var(--black);
}

.name-slash{
    color: var(--primary-color);
}

.nav-profession{
    font-size: 19px;
    padding-top: 15px;
    font-weight: 400;
    display: inline-block;
    color: var(--black);
}

#profession-slash{
    font-weight: 600;
    color: var(--primary-color);
}

.menu-icon{
    float: right;
    padding-top: 5px;
    width: 32px;
    color: var(--black);
}

/** header **/

.hero {
  margin: 40px 0;
  /* border: 1px red solid; */
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0 20px 0 20px;
}

.hero-bg {
    /* width: 380px; */
    width: 82%;
    height: 475px;
    display: block;
    margin: auto;
    filter: blur(8px);
    -webkit-filter: blur(9px);
}

.hero-div{
    position: absolute;
    top: 5px;
}

.hero-heading{
    font-size: 55px;
    font-weight: 400;
    display: inline-block;
    color: var(--black);
    /* display: none; */
    text-align: left;
    /* border: red solid 1px; */
}

.or-bold{
    font-weight: 600;
    color: var(--primary-color);
}

/* Projects */

.projects{
padding: 0 20px;
/* border: 1px red solid; */
}

.projects h1{
    font-weight: 400;
    font-size: 40px;
    color: var(--black-primary);
}

.prj-slash{
    font-weight: 500;
    color: var(--primary-color);
}

.project-item{
    /* border: 1px red solid; */
    margin-top: 25px;
}

.sr-no{
    font-size: 36px;
    font-weight: 500;
    color: var(--primary-color);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}

.prj-title{
    font-weight: 400;
    font-size: 26px;
    color: var(--black-primary);
}

.prerogative{
    /* border: 1px red solid; */
    width: 420px;
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.website-info{
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    margin-top: 25px;
}

.project-desc{
    font-size: 17px;
    font-weight: 400;
    color: var(--black-primary);
    line-height: 2;
    /* border:1px red solid; */
    margin-top: 13px;
}

/** sections **/

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;

}

.ow {
    background-color: var(--off-white);
}

/** footers **/

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}