@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");

:root {
    --primary-color: #E85832;
    --black: #292A2B;
    --black-primary: #1e1e1e;
    --off-white: #f3f3f3;
    --dark-gray: #6B7280;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* img{width: 100%;} */

body {
    font-family: 'Raleway', sans-serif;
    /* margin: 0 20px; */
}

nav{
    /* border: 1px black solid; */
    padding:38px 20px 0 20px;
    /* display: inline-block; */
    max-width: 100%;
}

.nav-brand{
    font-size: 25px;
    font-weight: 500;
    /* border: 1px red solid; */
    display: inline-block;
    color: var(--black);
}

.name-slash{
    color: var(--primary-color);
}

.nav-profession{
    font-size: 19px;
    padding-top: 15px;
    font-weight: 400;
    display: inline-block;
    color: var(--black);
}

#profession-slash{
    font-weight: 600;
    color: var(--primary-color);
}

.menu-icon{
    float: right;
    padding-top: 5px;
    width: 32px;
    color: var(--black);
}

/** header **/

.hero {
  margin: 40px 0;
  /* border: 1px red solid; */
  display: inline-block;
  position: relative;
  width: 100%;
  /* padding: 0 20px 0 20px; */
}

.hero-bg {
    /* width: 380px; */
    width: 82%;
    height: 475px;
    display: block;
    margin: auto;
    filter: blur(8px);
    -webkit-filter: blur(9px);
}

.hero-div{
    position: absolute;
    top: 5px;
    padding: 0 20px 0 20px;
    /* border: 1px red solid; */
}

.hero-heading{
    font-size: 55px;
    font-weight: 400;
    display: inline-block;
    color: var(--black);
    /* display: none; */
    text-align: left;
    /* border: red solid 1px; */
}

.or-bold{
    font-weight: 600;
    color: var(--primary-color);
}

/* Projects */

.projects{
padding: 0 20px;
/* border: 1px red solid; */
}

.projects h1{
    font-weight: 400;
    font-size: 40px;
    color: var(--black-primary);
}

.prj-slash{
    font-weight: 500;
    color: var(--primary-color);
}

.project-item{
    /* border: 1px red solid; */
    margin-top: 25px;
}

.sr-no{
    font-size: 38px;
    font-weight: 500;
    display: inline-block;
    /* border: 1px red solid; */
    color: var(--primary-color);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}

.prj-title{
    font-weight: 400;
    font-size: 28px;
    color: var(--black-primary);
}

.prerogative{
    /* border: 1px red solid; */
    width: 420px;
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.website-info{
    font-size: 15px;
    font-weight: 500;
    color: var(--primary-color);
    margin-top: 25px;
}

.project-desc{
    font-size: 17px;
    font-weight: 400;
    color: var(--black-primary);
    line-height: 2;
    /* border:1px red solid; */
    margin-top: 13px;
}

.demo{
    width: 215px;
    height: 45px;
    border: 3px solid var(--primary-color);
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: var(--primary-color);
    background: none;
    text-align: center;
    padding-left: 15px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
}

.demo div{
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 36px;
}

.source{
    width: 215px;
    height: 45px;
    border: 3px solid var(--black-primary);
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: var(--black-primary);
    background: none;
    display: inline-block;
    float: right;
    position: relative;
    padding-right: 30px;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
}

.source-icon{
    position: absolute;
    top: 9px;
    width: 22px;
    right: 30px;
}

.view-more{
    /* width: 200px; */
    width: 100%;
    height: 50px;
    border: 3px solid var(--black-primary);
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    font-weight: 600;
    color: var(--black-primary);
    background: none;
    position: relative;
    margin-top: 20px;
    padding-right: 40px;
    outline: none;
    cursor: pointer;
}

.arrow-icon{
    width: 20px;
    position: absolute;
    right: 125px;
    top: 14px;
}

/** blogs **/

.blogs{
    background: var(--black-primary);
    margin-top: 50px;
    /* padding-top: 30px; */
    padding: 30px 20px 0 20px;
}

.blogs h1{
    font-weight: 400;
    font-size: 50px;
    color: var(--off-white);
    /* border: 1px red solid; */
    margin-bottom: 40px;
}

.blog-slash{
    font-weight: 500;
    color: var(--primary-color);
}

.blog-pic1{
    width: 330px;
    /* border: 1px red solid; */
    display: block;
    margin: -45px auto 0 auto;
}

.blog-title{
    font-weight: 400;
    font-size: 30px;
    color: var(--off-white);
    margin-top: 30px;
}

.blog-desc{
    font-size: 17px;
    font-weight: 400;
    color: var(--off-white);
    line-height: 2;
    /* border:1px red solid; */
    margin-top: 19px;
    /* padding-bottom: 50px; */
}

.read-more{
    width: 215px;
    height: 45px;
    border: 3px solid var(--primary-color);
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: var(--primary-color);
    background: none;
    text-align: center;
    /* padding-left: 15px; */
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
    margin-bottom: 80px;
}

.all-blogs{
    width: 215px;
    height: 45px;
    border: 3px solid var(--off-white);
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: var(--off-white);
    background: none;
    display: inline-block;
    float: right;
    position: relative;
    padding-right: 25px;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
    text-align: center;
    margin-bottom: 50px;
}

.arrow-white{
    position: absolute;
    top: 13px;
    right: 32px;
    width: 18px;
}

/* Skill Set */

.skillset{
    background: var(--primary-color);
    padding: 40px 20px;
}

.skillset h1{
    font-weight: 500;
    font-size: 50px;
    color: var(--black-primary);
    /* border: 1px red solid; */
    margin-bottom: 40px;
}

/* .skillset img{
    width: 70px;
} */

.column-1{
    /* border: 1px red solid; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.column-2{
    /* border: 1px red solid; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.column-3{
    /* border: 1px red solid; */
    display: flex;
    justify-content: space-around;
}

/** footers **/

footer{
    background: var(--black-primary);
    padding: 25px 20px;
}

.connect{
    font-family: 'Raleway', sans-serif;
    color: var(--off-white);
    font-weight: 500;
    /* border: 1px red solid; */
    padding-left: 30px;
}

.social{
    /* border: 1px red solid; */
    padding-left: 30px;
    padding-right: 90px;
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

.copy{
    font-family: 'Raleway', sans-serif;
    color: var(--off-white);
    font-weight: 400;
    /* border: 1px red solid; */
    padding-left: 30px;
    margin-top: 25px;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    nav{
        width: 100vw;
        /* padding:38px 35px 0 35px; */
        /* background: red; */
    }

    .nav-brand{
        font-size: 25px;
    }

    .nav-profession{
        font-size: 19px;
    }

    .menu-icon{
        width: 32px;
    }

    .hero-heading{
        font-size: 55px;
        /* line-height: 1.2; */
    }

    .prerogative{
        width: 100%;
    }
  }

  @media screen and (max-width: 475px) {
    nav{
        width: 100vw;
        /* background: blue; */
    }

    .nav-brand{
        font-size: 22px;
    }

    .nav-profession{
        font-size: 16px;
    }

    .menu-icon{
        width: 27px;
    }

    .hero-heading{
        font-size: 43px;
        /* font-size: 30px; */
        /* line-height: 0; */
    }

    .hero-div{
        padding: 0 20px 0 20px;
    }

    .prerogative{
        /* border: 1px red solid; */
        /* width: 420px; */
        width: 100%;
        /* display: block;
        margin: auto;
        border-radius: 10px;
        margin-top: 20px; */
    }
  }

